{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/cats/cat-detail.css' %}" />
{% endblock %}
{% block content %}
<section class="cat-container">
  <div class="cat-img">
    <img src="" alt="" />
  </div>
  <div class="cat-details">
    <h1>{{ quest.title }}</h1>
    <h2>In {{ quest.region }} {{ quest.description }}</h2>
    <div class="quest-actions">
      <a href="{% url 'quest-update' quest.id %}" class="btn warn">Edit Quest</a>
      <a href="{% url 'quest-delete' quest.id %}" class="btn danger">Delete Quest</a>
    </div>
    
  </div>
</section>

<!-- Existing cat-container above -->
<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Sessions</h2>
      <img src="" alt="" />
      <img src="" alt="" />
      <img src="" alt="" />
    </div>
    <h3>Add a session</h3>
    <form action="{% url 'add-session' quest.id %}" method="post" class="subsection-content" autocomplete="off">
      {% csrf_token %}
      {{ session_form.as_p }}
      <button type="submit" class="btn submit">Add Session</button>
      <a href="{% url 'location-create' %}" class="btn submit">Add a new Location</a>
    </form>
    <h3>Past Feedings</h3>
    {% if quest.session_set.all.count %}
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Session type</th>
        </tr>
      </thead>
      <tbody>
        {% for session in quest.session_set.all %}
        <tr>
          <td>{{session.date}}</td>
          <td>{{session.get_session_type_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="subsection-content">
      <p>⚠️ {{quest.title}} has no sessions scheduled!</p>
    </div>
    {% endif %}
  </section>
</div>

<section class="toys">
  <div class="subsection-title">
    <h2>Locations</h2>
    <img src="" alt="A compass" />
  </div>

  <h3>{{ quest.title }} Locations</h3>
  <div class="subsection-content">
    {% if quest.locations.count %} 
      {% for location in quest.locations.all %}
        <div class="toy-container">
          <div class="color-block" style="background-color: grey"></div>
          <a href="{% url 'location-detail' location.id %}">
            <p> {{ location.name }}</p>
          </a>
          <form action="{% url 'remove-location' quest.id location.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Remove Location</button>
          </form>
        </div>
      {% endfor %} 
    {% else %}
      <p class="no-toys">{{quest.title}} has no associated locations!</p>
    {% endif %}
  </div>

  <h3>Available Locations</h3>
  <div class="subsection-content">
    {% if locations.count %} 
      {% for location in locations.all %}
        <div class="toy-container">
          <div class="color-block" style="background-color: {{ toy.color }}"></div>
          <a href="{% url 'location-detail' location.id %}">
            <p> {{ location.name }} </p>
          </a>
          <form action="{% url 'associate-location' quest.id location.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn submit">Give toy</button>
          </form>
        </div>
      {% endfor %} 
    {% else %}
      <p class="all-toys">{{quest.title}} has all available locations </p>
    {% endif %}
  </div>
</section>

{% endblock %}